<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inz.mb.pl.app.fitapp">

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitApp">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".SearchFoodActivity"
            android:exported="false"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".sign_activities.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".sign_activities.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="true"
            android:theme="@style/Theme.FitApp.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.RemoveSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>